@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greetings, world
        <p>
        @Html.ActionLink("RSVP now","RsvpForm")

        </p>
    </div>
</body>
</html>
